
#header-pane {
  padding: 1em;
}

#header-pane h1 {
  display: none;
}

#content-pane {
  padding: 1em;
}

#content-pane table td {
  vertical-align: top;
  padding-top: 0px;
}

#content-pane table tbody {
  border-top: 0px;
}

#content-pane table tbody th {
  border-top: 0px;
}

#content-pane .potluck-facetContainer-title {
  display: none;
}

#footer-pane {
}
